.post-row {
  display: flex;
  gap: 10px;
  align-items: center;

  padding: 10px;
  border-radius: 10px;

  transition: 0.2s;
}

.post-row:hover {
  background: #f1f5f9;
}

/* image */
.thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  object-fit: cover;
}

/* content */
.content {
  flex: 1;
}

.text {
  font-size: 13px;
  font-weight: 500;
}

.meta {
  font-size: 11px;
  color: #666;
}

/* metrics */
.metrics {
  display: flex;
  gap: 10px;
  font-size: 12px;
}